<a href="https://colab.research.google.com/github/naokityokoyama/br-python-challenges/blob/master/Revisao_Python_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1
Escreva um programa em Python para contabilizar a quantidade de ocorrências de cada palavra.

In [ ]:
palavras = [
   'red', 'green', 'black', 'pink', 'black', 'white', 'black', 'eyes',
   'white', 'black', 'orange', 'pink', 'pink', 'red', 'red', 'white', 'orange',
   'white', "black", 'pink', 'green', 'green', 'pink', 'green', 'pink',
   'white', 'orange', "orange", 'red'
]

In [ ]:
from collections import Counter
texto = palavras
counter = Counter(texto)

print(counter)

Counter({'pink': 6, 'black': 5, 'white': 5, 'red': 4, 'green': 4, 'orange': 4, 'eyes': 1})

# Desafio 2
Escreva uma função que recebe um número inteiro de horas e a converte em segundos.

Exemplo:

convert(5) ➞ 18000

convert(3) ➞ 10800

convert(2) ➞ 7200

In [ ]:
def convert(n):
  converte = n*60*60
  return converte

convert(5)
convert(3)
convert(2)

# Desafio 3
Escreva uma função que receba uma lista e retorne uma nova lista ordenada e sem valores duplicados.

In [ ]:
def ordem(lista):
  b= sorted(set(lista))
  return b

lista = [1,2,3,4,3,30,3,4,5,6,9,3,2,1,2,4,5,15,6,6,3,13,4,45,5]
ordem(lista)

[1, 2, 3, 4, 5, 6, 9, 13, 15, 30, 45]

In [ ]:
#invertendo as palavras
texto = 'Hello World'
print(texto[::-1])

# Desafio 4
Escreva uma função que receba uma string como parâmetro e retorne outra string com as palavras em ordem inversa.

Exemplo:

inverte_texto("Python é legal") ➞ "legal é Python"

In [ ]:
a = 'python é legal'
b= a.split()
b.reverse()

print (b)

['legal', 'é', 'python']

In [ ]:
#frase[9::3] começa do nome e pula de 3 em 3
#frase.capitalize() # coloca tudo em minusculo e apenas a 1 fica maiuscula 
#frase.title() coloca cada palavra a primeira em maiuscula
#.strip() remove espaços no inicio e no fim o rstrip() remove apenas o direito lstrip() esquerda 
#split() divisão entre os espaços 
#join() inverte o split '-'.join(texto)

# Desafio 5
Você trabalha em uma loja de sapatos e deve contatar uma lista de clientes dada pela seguinte lista de números de telefones:
No entanto, alguns destes números estão duplicados. Você seria capaz de remover estes duplicados para evitar que clientes sejam contatado mais de uma vez?

In [ ]:
#remover duplicado
numeros_telefone = [
'(765) 368-1506',
'(285) 608-2448',
'(255) 826-9050',
'(554) 994-1517',
'(285) 608-2448',
'(596) 336-5508',
'(511) 821-7870',
'(410) 665-4447',
'(821) 642-8987',
'(285) 608-2448',
'(311) 799-3883',
'(935) 875-2054',
'(464) 788-2397',
'(765) 368-1506',
'(650) 684-1437',
'(812) 816-0881',
'(285) 608-2448',
'(885) 407-1719',
'(943) 769-1061',
'(596) 336-5508',
'(765) 368-1506',
'(255) 826-9050',
]

sorted(set(numeros_telefone)) #funcao set retira o duplicado

['(255) 826-9050',
 '(285) 608-2448',
 '(311) 799-3883',
 '(410) 665-4447',
 '(464) 788-2397',
 '(511) 821-7870',
 '(554) 994-1517',
 '(596) 336-5508',
 '(650) 684-1437',
 '(765) 368-1506',
 '(812) 816-0881',
 '(821) 642-8987',
 '(885) 407-1719',
 '(935) 875-2054',
 '(943) 769-1061']

# Desafio 6
Crie uma função que receba duas listas e retorne uma lista que contenha apenas os elementos comuns entre as listas (sem repetição). A função deve suportar lista de tamanhos diferentes.

listas:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
#criando 3 lista atraves de 2 sem repetir numeros
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

c = a+b
#print (c)
sorted(set(c))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 21, 34, 55, 89]

In [ ]:
# criando uma terceira lista atraves de somar 2 listas
A = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
B = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]


D = [ (a + b) for a, b in zip(A, B) ] #lembro que o 13 do B não foi somado pois não tinha com que somar

print(D)

[2, 3, 5, 7, 10, 14, 20, 29, 43, 65, 100]

In [ ]:
#criando uma 3 lista Os elementos que tem em B diferente de A
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

c = set(b) - set(a)

print (list(c))

[4, 6, 7, 9, 10, 11, 12]

In [ ]:
#somar a lista
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
sum(a)

# Desafio 7
Um professor de universidade tem uma turma com os seguintes números de telefones:

Ele criou um grupo do whatapp no entanto somente os seguintes números entraram:

Você seria capaz de criar uma lista dos alunos que ainda não entraram no grupo para que sejam contatados individualmente?

In [ ]:

telefones_alunos = ['(873) 810-8267', '(633) 244-7325', '(300) 303-5462', 
                    '(938) 300-8890', '(429) 264-7427', '(737) 805-2326', 
                    '(768) 956-8497', '(941) 225-3869', '(203) 606-9463', 
                    '(294) 430-7720', '(896) 781-5087', '(397) 845-8267', 
                    '(788) 717-6858', '(419) 734-4188', '(682) 595-3278', 
                    '(835) 955-1498', '(296) 415-9944', '(897) 932-2512', 
                    '(263) 415-3893', '(822) 640-8496', '(640) 427-2597', 
                    '(856) 338-7094', '(807) 554-4076', '(641) 367-5279', 
                    '(828) 866-0696', '(727) 376-5749', '(921) 948-2244', 
                    '(964) 710-9625', '(596) 685-1242', '(403) 343-7705', 
                    '(227) 389-3685', '(264) 372-7298', '(797) 649-3653', 
                    '(374) 361-3844', '(618) 490-4228', '(987) 803-5550', 
                    '(228) 976-9699', '(757) 450-9985', '(491) 666-5367',
                    ]
entraram_no_grupo = ['(596) 685-1242', '(727) 376-5749', '(987) 803-5550', 
                     '(633) 244-7325', '(828) 866-0696', '(263) 415-3893', 
                     '(203) 606-9463', '(296) 415-9944', '(419) 734-4188', 
                     '(618) 490-4228', '(682) 595-3278', '(938) 300-8890', 
                     '(264) 372-7298', '(768) 956-8497', '(737) 805-2326', 
                     '(788) 717-6858', '(228) 976-9699', '(896) 781-5087',
                     '(374) 361-3844', '(921) 948-2244', '(807) 554-4076', 
                     '(822) 640-8496', '(227) 389-3685', '(429) 264-7427', 
                     '(397) 845-8267'] 

c= set(telefones_alunos) - set(entraram_no_grupo)

print (list(c))

# Desafio 8
Escreva um script Python para encontrar as 10 palavras mais longas em um arquivo.

O arquivo TXT está localizado na mesma pasta do projeto (texto.txt).

In [ ]:
#abrindo arquivo 
with open('texto.txt','r') as f:
    texto = f.read()

#separando caracteres e retirando caracteres    
caracteres = ('?()+.,')   
for simbolos in caracteres:
  texto = texto.replace(simbolos,'')

#colocando o texto em uma lista, retirando a duplicatas e colocando em tudo minusculo
a = list(texto.split()) #passando split para separar elementos e criando lista
b = sorted(set(a)) # retirando duplicatas
c = [i.lower() for i in b] # list comprehension para .lower()

#ordenando por len para saber as maiores
ordenar = sorted(c,key=len, reverse=True)

#pegando as 10 maiores
maiores_10 = ordenar[0:11]
print (maiores_10)

['general-purpose', 'object-oriented', 'comprehensive', 'intermediate', 'interpreted', 'languageits', 'programmers', 'programming', 'readability', 'emphasizes', 'functional']

# Desafio 9
Escreva uma função que retorne a soma dos múltiplos de 3 e 5 entre 0 e um número limite (parâmetro). Por exemplo, se o limite for 20, ele retornará a soma de 3, 5, 6, 9, 10, 12, 15, 18, 20.

In [ ]:
lista =[]
lista2=[]
x = 10
for i in range(x):
  a=i*3
  if a <20:
    lista.append(a)
print (lista)
for i in range(x):
  b=i*5
  if b<20:
    lista2.append(b)  
print (lista2)

[0, 3, 6, 9, 12, 15, 18]
[0, 5, 10, 15]

# Desafio 10
Dada uma lista, divida-a em 3 partes iguais e reverta cada lista.

Exemplo:

sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Parte 1 [8, 45, 11]

Parte 2 [12, 14, 23]

Parte 3 [89, 45, 78]

In [ ]:
lista = [11, 45, 8, 23, 14, 12, 78, 45, 89]

partes = [lista[i:i+3] for i in range(0, len(lista), 3)]

#print (partes)
#ordenar = sorted(partes,key=, reverse=True)
parte1=sorted(partes[0],reverse=True)
parte2=sorted(partes[1],reverse=True)
parte3=sorted(partes[2],reverse=True)
print (parte1,parte2,parte3)

[45, 11, 8] [23, 14, 12] [89, 78, 45]

# Desafio 11
Dados uma sequência com n números inteiros, determinar quantos números da sequência são pares e quantos são ímpares. Por exemplo, para a sequência

6   2   7  -5   8  -4

a sua função deve retornar o número 4 para o número de pares e 2 para o de ímpares. A saída deve ser um tupla contendo primeiramente o número de pares e em seguida o número de ímpares. Para o exemplo anterior, a saída seria (4, 2).

In [ ]:
lista = [6, 2, 7, -5, 8, -4]
lista_par = []
lista_impar = []
for i in lista:
  if i % 2 == 0:
    lista_par.append(i)
  else:
    lista_impar.append(i)  

print (len(lista_par))  
print (len(lista_impar))

4
2

# Desafio 12
Escreva uma função em Python para verificar a validade de uma senha.

Validação:

Pelo menos 1 letra entre [a-z] e 1 letra entre [A-Z].
Pelo menos 1 número entre [0-9].
Pelo menos 1 caractere de [$ # @].
Comprimento mínimo de 6 caracteres.
Comprimento máximo de 16 caracteres.
Entradas: "12345678", "J3sus0", "#Te5t300", "J*90j12374", "Michheeul", "Monk3y6"

A saída deve ser a senha e um texto indicando se a senha é válida ou inválida:

"1234" - Senha inválida
"Qw#1234" - Senha válida

In [ ]:
import re
def test_password(password):
 
  min_number = 1
  min_upper_char = 1
  min_lower_char = 1
  min_special_char = 1
  min_len = 6
  max_len = 16
 
  if len(password) < min_len:
    print('Tamanho minimo de:', min_len)
  if len(password) >max_len:
    print('Tamanho máximo de:', max_len)
  if len(re.findall(r'[A-Z]', password)) < min_upper_char:
    print('Precisa conter maiúsculas!', min_upper_char)
  if len(re.findall(r'[a-z]', password)) < min_lower_char:
    print('Precisa conter minúsculas!', min_lower_char)
  if len(re.findall(r'[0–9]', password)) < min_number:
    print('Precisa conter números!', min_number)
  if len(re.findall(r'[@#$]', password)) < min_special_char:
    print('Precisa conter caracteres especiais “@#$”',       min_special_char)
  else:
    print('senha validada')
 
#test_password('12345678')
#test_password('J3sus0')
#test_password('#Te5t300')
#test_password('J*90j12374')
#test_password('Michheeul')
#test_password('Monk3y6')

Tamanho minimo de: 6
Precisa conter maiúsculas! 1
Precisa conter números! 1
Precisa conter caracteres especiais “@#$” 1